block variables
	title = "Mystical, mythical scarab"

extends layout

block content

	p
		audio#sound(preload="auto",controls,autoplay)
			source(src="/media/scarab.ogg", type="audio/ogg")
			source(src="/media/scarab.mp3", type="audio/mpeg")

	p Whatever possessed you to lift that peculiar looking rock you can and may never know. It is for certain however that in its midst lay an equally peculiar being, a golden scarab, the beetle of the ancient Egypt. When lifted from its resting place and exposed to the light of day, or well, in this case, quite dim and rather gloomy fluorescent of the mushroom groove it became utterly annoyed and spoke in a nasal shrieking kind of tone, not too uncomfortable to bear of course, considering was only a small beetle.

	p Wherever are your manners, I say. In the days of yore, when my people and masters ruled the lands, when death was a neighbour and architecture was grand this would’ve earned you a single ticket to the gallows!

	p Well no matter, in this place you’re probably as good as dead anyway, say, would you like to make a bet to prove my point?

	p In this place there are quite a few mushrooms, most of which are more than deadly, and I dare you to try a few.

	p Your reward?

	p Well, if you can survive as far as to find the one with a raspberry flavour I know the hatter would pay well to know its colour. 

	p Now you really have to put me down lest I call upon the sphinx to try YOUR flavour.

	p: a(href="/") Get me back!